language: python
sudo: false
python:
- '3.5'
- '3.6'
install:
- make init
script:
- python random_word/tests/test_word.py
before_install:
- openssl aes-256-cbc -K $encrypted_619c3c835fae_key -iv $encrypted_619c3c835fae_iv
  -in config.py.enc -out random_word/config.py -d